#root {
  margin: 0;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}
.header-wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.header-wrap-top {
  display: flex;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: 50px;
}

.languages li {
  list-style: none;
  display: inline;
  font-weight: 500;
  margin-right: 10px;
}
.header-wrap-main {
  display: flex;
  justify-content: center;
}

.calc-wrap {
  height: 200px;
  width: 650px;
  border: 1px solid red;
}
.calc-wrap-main {
  display: flex;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid yellow;
}
.flag {
  height: 150px;
  width: 150px;
  align-self: center;
  padding-left: 100px;
}
