#root {
  margin: -10px;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: aliceblue;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}

button {
  background-color: #f42f4c;
  color: whitesmoke;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 25px;
  text-align: center;
  margin-top: 5px;
  transition-property: font-size, padding;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
  /* user-select: none; */
}
button:hover {
  font-size: 16px;
  padding: 0px 35px;
}

input {
  font-weight: bold;
  background-color: aliceblue;
  cursor: text;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 15px;
  text-align: center;
  margin-top: 5px;
  transition-property: font-size, padding;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
}
input:focus {
  border-color: #f42f4c;
  padding: 0px 25px;
  font-size: 18px;
}
select {
  margin-top: 5px;
  font-weight: bold;
  background-color: aliceblue;

  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 25px;
  text-align: center;
  transition-property: font-size, height, padding;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
}
select:focus {
  border-color: green;
  font-size: 20px;
  height: 50px;
  padding: 0px 35px;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: white;
  width: 100%;

  /* margin-right: -10px; */
}
.header-wrap-top {
  display: flex;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  padding-left: 10px;
}

.languages li {
  list-style: none;
  display: inline;
  font-weight: 500;
  padding-right: 10px;
}
.header-wrap-main {
  display: flex;
  justify-content: center;
}

.calc-wrap {
  height: 250px;
  width: 650px;
  /* border: 1px solid red; */
}
.calc-wrap-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-left: 60px;
  font-weight: 400;
}
.calc-wrap-labels label:nth-child(2) {
  margin-left: -55px;
}
.calc-wrap-main {
  display: flex;
  /* height: 80px; */
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px solid yellow; */
}
.flag {
  height: 180px;
  width: 180px;
  align-self: center;
  padding-left: 100px;
  transition-property: height, width;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
}
.flag:hover {
  height: 190px;
  width: 190px;
}
#submit-button {
  margin-right: 25px;
}
