#root {
  margin: -10px;
  font-family: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: aliceblue;
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
}

li {
  list-style: none;
  display: inline;
  font-weight: 500;
  padding-right: 10px;
}

button {
  background-color: #f42f4c;
  color: whitesmoke;
  font-weight: bold;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 25px;
  text-align: center;
  margin-top: 5px;
  transition-property: font-size, padding;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
  /* user-select: none; */
}
button:hover {
  font-size: 16px;
  padding: 0px 35px;
}

input {
  font-weight: bold;
  background-color: aliceblue;
  cursor: text;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 15px;
  text-align: center;
  margin-top: 5px;
  transition-property: font-size, padding;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
}
input:focus {
  border-color: #f42f4c;
  padding: 0px 40px;
  font-size: 30px;
}
select {
  margin-top: 5px;
  font-weight: bold;
  background-color: #f42f4c;
  color: white;
  outline: none;
  border-radius: 50px;
  font-size: 14px;
  height: 48px;
  padding: 0px 25px;
  text-align: center;
}
select:focus {
  border-color: green;
}

.header-wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
  background-color: white;
  width: 100%;

  /* margin-right: -10px; */
}
.header-wrap-top {
  display: flex;
  justify-content: space-between;
}

.logo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.logo {
  height: 50px;
  width: 50px;
  padding-left: 10px;
}

.languages li {
  list-style: none;
  display: inline;
  border: none;
  font-weight: 400;
  font-size: 14px;
  /* padding-right: 20px; */
  background-color: white;
  color: #fb5858;
}
.languages li:nth-child(3) {
  margin-right: 20px;
}

.header-wrap-main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.calc-wrap {
  height: 250px;
  width: 650px;
  /* border: 1px solid red; */
}
.calc-wrap-labels {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  margin-left: 60px;
  font-weight: 400;
}
.calc-wrap-labels label:nth-child(2) {
  margin-left: 380px;
}
.calc-wrap-main {
  display: flex;
  flex-wrap: wrap;

  /* height: 80px; */
  justify-content: space-between;
  /* align-items: center; */
  /* border: 1px solid yellow; */
}
.flag {
  height: 180px;
  width: 180px;
  align-self: center;
  padding-left: 100px;
  transition-property: height, width;
  transition-duration: 0.7s;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1.4);
  transition-delay: 0s;
}
.flag:hover {
  height: 190px;
  width: 190px;
}
#submit-button {
  margin-right: 25px;
}

.result {
  /* border: 1px solid red; */
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 1% 15%;
}
.result-top {
  background-color: white;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: box-shadow;
  transition-duration: 0.3s;
}
.result-top:hover {
  box-shadow: 3px 3px 5px lightblue;
}
.result-top-left {
  width: 70%;
}

.result-top-right {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: space-between;
  /* background-color: red; */
}
.nav-item {
  border-radius: 10px;
  /* border: 1px solid black; */
  padding: 8px 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
  background-color: green;
}
.nav-item:hover {
  background-color: rgb(23, 29, 33);
  cursor: pointer;
}

/* Style the active class  */
.active {
  border-radius: 10px;
  background-color: #666;
  padding: 8px 25px;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

/* Solid border */
hr.solid {
  border-top: 0.5px solid green;
  width: 100%;
}
hr.solid-white {
  /* border-top: 1px solid white; */

  border: none;
  width: 100%;
}

.result-main {
  margin-top: 2%;

  background-color: white;
  border-radius: 10px;
  transition-property: box-shadow;
  transition-duration: 0.2s;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* gap: 40px; */
}

.result-main:hover {
  box-shadow: 1px 1px 10px lightblue;
}

.result-main-left {
  display: flex;
  width: 50%;
  gap: 50px;
  justify-content: space-around;
  margin-left: 2%;
  /* border: 1px solid red; */
}

.result-subtext {
  color: grey;
}
.result-main-left-labels {
  /* border: 1px solid purple; */
  width: 50%;
  /* flex-grow: 1; */
}
.result-main-left-results {
  /* border: 1px solid yellow; */
  width: 50%;
}

.result-main-right {
  height: 400px;
  width: 50%;
}
